<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" href="accueil.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
    <body>

            <ul>
                <li class="active"><a href="index.html">Accueil</a></li>
                <li><a href="habitant/connexion">Connexion Habitant</a></li>
                <li><a href="habitant/inscription">Inscription Habitant</a></li>
                <li><a href="commune">Connexion Commune</a></li>
            </ul> 
        <div id="bloc">    
            <div id = "section">
                <article>
                    <h1>Coronavirus, tous solidaires</h1>
                    <h4>Face à la crise actuelle COVID-19, plus que jamais nous devons nous serrer les coudes.</h4><br>

                    <h1>Comment ça marche ?</h1>
                    <p> REDIGER LE COMMENT ÇA MARCHE ICI </p>
                </article>
                <aside>
                    <h1>Contact</h1><br>
                    <h5>Adresse : Avenue Leonard de Vinci 92400, Courbevoie</h5>
                    <h5>Téléphone : (+33)615202133</h5>
                    <h5>email : soyonssolidaire@gmail.com</h5><br><br>
                    
                </aside>
            </div>
        </div>    
    </body>
</html>