ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin-right: 15px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.active 
{
    background-color: #4CAF50;
} 

#bloc
{
    margin : auto;
    width :1100px;
    color : #181818;
    margin-top : 35px;
}

#section h1 
{
    font-family: Dayrom, serif;
    font-weight: bold;
    text-transform: uppercase;
}

#section 
{
    display :flex;
    margin-bottom: 20px;
}

article, aside 
{
    text-align: justify;
}

article 
{
    flex:5;
    margin-right: 20px;
    
}

aside 
{
    flex:2;    
    border-radius:  5px;
    padding : 10px;
    font-size : 0.9em;
    background-color : beige;

}
li a:hover {
    background-color: #111;
}
/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}