<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<style type="text/css">
		.content{
			padding: 5% 0;
		}
		.card{
			position: relative;
			width: 25%;
			float: left;
			height: 575px
		}
		.card .btn{
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}
	</style>
</head>
<body>

	<div class="col-10 mx-auto content">
		<div class="card">
			<img src="../../images/business-woman-shakes-hand.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Accédez à la liste des administrés</h5>
				<p class="card-text">Consultez la liste des habitants s'étant actuelement enregistrés sur la platforme</p>
				<a href="#" class="btn btn-primary">Accèder à la page</a>
			</div>
		</div>
		<div class="card">
			<img src="../../images/healthy-breakfast.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Accédez à la liste des produits de première nécessité</h5>
				<p class="card-text">Consultez, ajoutez, supprimer ou modifier la liste des produits de première nécessité proposés aux habitants de votre commune</p>
				<a href="#" class="btn btn-primary">Accèder à la page</a>
			</div>
		</div>
		<div class="card">
			<img src="../../images/livraison.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Voir l'état des livraisons</h5>
				<p class="card-text">Consultez en temps réel l'état de livraison des commandes de vos administrés</p>
				<a href="#" class="btn btn-primary">Accèder à la page</a>
			</div>
		</div>
		<div class="card">
			<img src="../../images/statistic.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Consultez les statistiques sur les commandes des habitants</h5>
				<p class="card-text">Dans cet onglet, vous pourrez:
					<ul>
						<li>Avoir une idée du contenu du pannier moyen commandé</li>
						<li>Voir l'article le plus commandé</li>
						<li>Voir l'article le plus commandé</li>
						<li>Voir l'article la quantité moyenne commandé par article</li>
					</ul>
				</p>
				<a href="#" class="btn btn-primary">Accèder à la page</a>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>