<!DOCTYPE html>

<html>
<head>
    <title>Votre espace personnel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        form {
            margin-top: 10rem;
        }

        .form-row {
            margin-bottom: 1.5rem;
        }

        h1 {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        h2 {
            font-size: larger;
        }

        nav {
            margin-bottom: 20px
        }

        #firstbutton {
            margin-top: 30px;
            margin-bottom: 30px
        }

        #secondbutton {
            margin-bottom: 30px
        }

        h5 {
            text-align: center;
        }
    </style>
</head>
<body>
    <!--Code permettant d'afficher la barre de navigation du site-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ProjetPython</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><a href="espace-personnel/"></a></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Gestion du compte</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Commande
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/habitant/demande/">Realiser une commande</a>
                        <a class="dropdown-item" href="/habitant/special/">Realiser une commande speciale</a>
                        <a class="dropdown-item" href="/habitant/commande-en-cours/">Commande en cours</a>
                        <a class="dropdown-item" href="/habitant/historique-commande/">Historique des commandes</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-danger my-2 my-sm-0" href="/habitant/connexion/">Deconnexion</a>
            </form>
        </div>
    </nav>

    <h1>Espace Personnel habitant</h1>
    <h2>
        Bienvenue dans votre espace personnel du ProjetPython,
        que desirez vous faire ?
    </h2>

    <!-- bouttons permettant d'acceder aux pages speciales realiser une commande et commande speciale-->
    <div class="col col-4 mx-auto">
        <a type="button" class="btn btn-outline-primary btn-lg btn-block" id="firstbutton" href="/habitant/demande/">Realiser une nouvelle commande
        </a>
    </div>
    <div class="col col-4 mx-auto">
        <a type="button" class="btn btn-outline-secondary btn-lg btn-block" id="secondbutton" href="/habitant/special/">Realiser une commande speciale</a>
    </div>

    <!-- carte permettant l'affichage de la derniere commande passee et de la liste des historiques de commandes-->
    <div class="card-deck">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Commande en cours</h5>
                <p class="card-text"><medium class="text-muted">statut de la commande en cours: <a class="align-middle">{{StatutCommande1}}</a></medium></p>
                <p class="card-text"><medium class="text-muted">Prix total de la commande  : <a class="align-middle">{{PrixTotalCommande1}}</a></medium></p>
                <p class="card-text"><medium class="text-muted">Nombre de produit : <a class="align-middle">{{NombreProduitCommande1}}</a></medium></p>

                <a href="/habitant/commande-en-cours/" class="btn btn-secondary align-middle">Afficher la commande en cours</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Derniere commande passee</h5>
                <p class="card-text"><medium class="text-muted">Date de livraison: <a class="align-middle">{{DateLivraison}}</a></medium></p>
                <p class="card-text"><medium class="text-muted">Prix total de la commande : <a class="align-middle">{{PrixTotalCommande2}}</a></medium></p>
                <p class="card-text"><medium class="text-muted">Nombre de produit : <a class="align-middle">{{NombreProduitCommande2}}</a></medium></p>
                <a href="/habitant/derniere-commande/" class="btn btn-secondary">Afficher la derniere commande passee</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Historique des commandes passees </h5>
                <a href="/habitant/historique-commande/" class="btn btn-secondary">Afficher l'historique des commandes</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>