<!DOCTYPE html>
<html>
<head>
	<title>Inscription</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
		form{
			margin-top: 10rem;
		}
		.form-row{
			margin-bottom: 1.5rem;
		}
		h1{
			margin-bottom: 3rem;
		}
	</style>
</head>
<body>
	<div class="col col-7 mx-auto">	
		<form method="post">
			{% csrf_token %}
			{{ form }}
			<h1>Formulaire d'inscription</h1>
			<div class="form-row">
				<div class="col">
					<input class="form-control" type="text" required name="nom" placeholder="nom">
				</div>
				<div class="col">
					<input class="form-control" type="text" required name="prenom" placeholder="Prénom">
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<input class="form-control" type="email" required name="email" placeholder="Email">
				</div>
				<div class="col">
					<input class="form-control" type="password" required name="password" placeholder="Mot de passe">
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<input class="form-control" type="tel" required name="tel" placeholder="Téléphone">
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<input class="form-control" type="number" required name="n-rue" placeholder="Numéro de la rue">
				</div>
				<div class="col">
					<input class="form-control" type="text" required name="rue" placeholder="Rue">
				</div>
				<div class="col">
					<input class="form-control" type="number" required name="code-postal" placeholder="Code postal">
				</div>
			</div>
			<div class="form-row">
				<div class="col col-5 col-form-label">
					<label for="foyer-n-habitant">Nombre de personne(s) dans votre foyer:</label>
				</div>
				<div class="col col-1">
					<input class="form-control" type="number" required name="foyer-n-habitant" id="foyer-n-habitant" placeholder="Nombre de personne dans votre foyer" value="1">
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<input class="form-control btn btn-primary" type="submit" value="S'inscrire">
				</div>
			</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>